.about-main-container {
      padding: 110px 0px 70px 0px;
}

span{
      font-weight: 700;

}

.cv-btn{
      color: white;
      background-color: #3BA6B7;
      border: none;
      padding: 18px;
      font-weight: 700;
}

.cv-btn:hover{
       box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}